<!doctype html>
<html>

<head>
  <title>Lista Tornei</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- load bulma css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/brackets-viewer@latest/dist/brackets-viewer.min.css" />


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/Logo_Ping_Pov.png" width="70px" height="70px" href="/v1/home">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link px-4" href="/v1/tornei"><b>Tornei</b><span class="sr-only">(current)</span> </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link px-4" href="/v1/prenotazioni"><b>Prenotazione Tavolo</b><span
              class="sr-only">(current)</span> </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link px-4" href="/v1/leaderboard"><b>Leaderboard</b><span class="sr-only">(current)</span> </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ricerca utente</button>
      </form>
      <% if(session.logged==true) { %>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item px-3">
            <a class="btn btn-outline-danger btn-sm" href="/v1/auth/logout" role="button">Logout<span
                class="sr-only">(current)</span> </a>
          </li>
          <li> <a href="/v1/success"><img src="<%=session.user_image%>" alt="profile pic" width="50px" height="50px"
                style="border-radius: 50%;"></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-text">
              <%=session.username%>
            </a>
            <img src="/images/rank_imgs/bronze.png" alt="profile_rank" width="20px" height="20px">
            <br>
            <%=session.rank%>
              rank #53
          </li>
          <% } else{ %>
            <li class="nav-item active">
              <a class="nav-link" href="/v1/auth"><b>Login</b></a>
            </li>
            <%}%>


        </ul>


    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Torneo</th>
            <th scope="col">Giocatori</th>
            <th scope="col">Data</th>
            <th scope="col">Sede</th>
            <th scope="col">Organizzatore</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0; i < tornei.length; i++){%>
            <tr>
              <th scope="row">
                <%=i+1%>
              </th>
              <td><a href="/v1/tornei/<%=tornei[i]['_id']%>">
                  <%=tornei[i]['nome_torneo']%>
                </a></td>
              <td>
                <%=tornei[i]['giocatori'].length%>/<%=tornei[i]['max_partecipanti']%>
              </td>
              <td>
                <%=tornei[i]['data']%>
              </td>
              <td>
                <%=tornei[i]['sede']%>
              </td>
              <td>
                <%=tornei[i]['organizzatore']%>
              </td>

              <% var iscritto=false; for(let j=0; j<tornei[i]['giocatori'].length; j++){ 
                console.log(query['username'])
                if (tornei[i]['giocatori'][j]==(' ' +query['username'])){
                iscritto=true; break; } } 
                if((tornei[i]['giocatori'].length==tornei[i]['max_partecipanti']) && (!iscritto)){ %>

                <td id="tasto_disiscrivi"><button type="button" class="btn btn-secondary" disabled>Pieno</button>
                </td>
            </tr>
            <% }else{ if(iscritto){ %>
              <td id="tasto_disiscrivi"><button type="button" class="btn btn-danger" onclick="fetch('/v1/disiscrivi/<%=tornei[i]['_id']%>' ,{
                method: 'DELETE',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  username: sessionStorage.getItem('utente'),

                })
              });
              setTimeout('',4000);
          window.location.reload();
              ">Disiscriviti</button></td>
              </tr>
              <%}else{%>

                <td id="tasto_iscriviti"><button type="button" class="btn btn-success" onclick="fetch('/v1/iscrivi/<%=tornei[i]['_id']%>' ,{
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  username: sessionStorage.getItem('utente'),

                })
              });
              setTimeout('',4000);
          window.location.reload();
              ">Iscriviti</button></td>
                </tr>
                <%}}}%>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</body>

</html>