<!doctype html>
<html>
  <head>
    <title>Your Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="Navbar.html" rel="import" />
   
      <style>
        
      </style>
  </head>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <body style="background-color:rgb(66,63,63);">




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       

  
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li>
          <img src="/images/Logo_Ping_Pov.png" alt="PingPov Logo" width="70px" height="70px">
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/v1/tornei">Tornei<span class="sr-only">(current)</span> </a>
          </li>
          
          
          <li class="nav-item active">
            <a class="nav-link" href="/prenotazioni">Prenotazioni Tavolo<span class="sr-only">(current)</span> </a>
          </li>
  
  
            
          <li class="nav-item active">
            <a class="nav-link" href="#">Partite<span class="sr-only">(current)</span> </a>
          </li>


            
          <li class="nav-item active">
            <a class="nav-link" href="#">Partite<span class="sr-only">(current)</span> </a>
          </li>

         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Ricerca un utente..." aria-label="Ricerca un utente...">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ricerca</button>
        </form>
        </ul>
       
      </div>
      <div>
        <ul class="navbar-nav mr-auto">
        
        <a> <% if(typeof log_status !== 'undefined') { %> </a> 
          <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span> </a> 
       </li>
       <li>
          <img src="<%= user.photos[0].value %>" alt="profile pic" width="70px" height="70px" style="border-radius: 50%;">
       </li>
          <% } else{
            %>
            <li class="nav-item active">
              <a class="nav-link" href="#/auth">Login<span class="sr-only">(current)</span> </a>
            </li>
            
            <%}%>
        </ul>

      </div>



    </nav>
  
  



    <div style="background-color:rgb(66,63,63); border: 2px; border-color: rgb(115,102,102);" >
      <div  style="background-color:rgb(66,63,63);border-bottom:solid ;border-color: rgb(115,102,102);"  >
          <h1 class="text-primary  text-center"><span class="fa fa-user"></span><%=user.displayName%>'s Profile Information</h1>
          <div class="row">
            <div class="col-sm-6">
                <div class="well">


                  <!-- inserire qui dentro info del giocatore quando presenti-->
                        <p style="color: rgb(115,102,102); font-family: 'Courier New', Courier, monospace; font-size: 20px;" >
                        

                          <img src='<%= user.photos[0].value %>' alt="profile pic" width="100px" height="100px"> <br>
                          <strong>Logged State</strong>:<%=log_status%><br>
                            <strong>Id</strong>: <%= user.id %><br>
                            <strong>Email</strong>: <%= user.emails[0].value %><br>
                           <strong>Name</strong>: <a id="name"> <%= user.displayName %></a>
                            

                         
                        

                        </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  
    <div id="ciao">fhdsjf</div>
    <div style="width: 100%;">
      <div style="width: 50%; height: 100px; float: left; "> 
          
        <h2 style="color: rgb(115,102,102);  font-family: 'Courier New', Courier, monospace;" >
          Stile
        </h2>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

            <script>

            window.sessionStorage.setItem('utente',document.getElementById("name").textContent);
            document.getElementById('ciao').textContent=document.getElementById('name').textContent;
            var xValues = ["Attacco", "Difesa", "Allaround", "Spin", "Controllo"];
              var yValues = [55, 49, 44, 24, 15];
            var barColors = ["red", "green","blue","orange","brown"];

            new Chart("myChart", {
                  type: "bar",
              data: {
                labels: xValues,
               datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options:{
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
  }

            });
            
          </script>
      </div>
      <div style="margin-left: 50%; height: 100px; "> 
          
        <h2 style="color: rgb(115,102,102);  font-family: 'Courier New', Courier, monospace;" >
          Racchetta
        </h2>

        

      </div>
  </div>


  </body>

</html>